*/venv
venv_3_10
driving_nightmare_AI/learning_data
driving_nightmare_AI/learning_data_Backup
driving_nightmare_AI/__pycache__
test.py
DN_Game
RL_training
driving_nightmare_AI/SnakManiac/Snakii_Game/
rl_data*
__pycache__
sm_model
